body {
  font-family: $mainFont;
  color: $color2;
  font-weight: 300;

  a, button {
    transition: all .3s;

    &:hover {
      opacity: .7;
    }
  }
  button {

    &:focus {
      box-shadow: none!important;
    }
  }
}
