body {
  font-family: $mainFont;
  color: $color2;
  font-weight: 300;

  a, button {
    transition: all .3s;

    &:hover {
      opacity: .7;
    }
  }
  button {

    &:focus {
      box-shadow: none!important;
    }
  }
}

//.homepage {
//
//  h1 {
//    font-weight: 700;
//    font-size: 60px;
//  }
//  h2 {
//    font-weight: 300;
//    font-size: 18px;
//    color: $color3;
//  }
//}